body {
  margin: 0px;
  font-family: 'Courier New';
  background:#999999;
}
header {
  text-align: center;
  font-size: 2em;
}
div.title {
  text-align: center;
  background-color: #CC0000;
  padding: 0.75em;
  margin-right: 100px;
  margin-left: 100px;
  font-size: 1.1em;
}
h2 {
  color: black;
  text-decoration: underline;
}
section {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  text-align: center;
}
p {
  margin: 50px 0px 50px 0px;
}
footer {
  text-align: center;
}