html {
    background-color:white;
}

header {
    color:black;
    text-align: center;
    font-size: 2em;
    font-family: 'Rock Salt', courier;
    width: 30em;
    height: auto;
    border: 3px solid Black;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    background-color:#7575A3;
    font-family: 'Rock Salt', courier;
}

ul {
    width: auto;
    height: 3em;
    border: 2px solid Black;
    background-color:#7575A3;
    font-family: 'Rock Salt', courier;
    text-align: center;
    color:white;
}

li {
    display:inline;
    font-weight: bold;
    margin:3em;
    font-size:1.3em;
    margin-bottom:5em;
    margin-top:5em;
    tex
    text-align: center;
}

img {
    max-width: 75%;
    max-height: 75%;
    padding-right: 15em;
    padding-left: 15em;
    padding-top: 3em;
    margin-bottom: 3em;

}

p {
    padding-right: 15em;
    padding-left: 15em;
    text-align: center;
    font-size:1em;
    margin-top:3em;
    margin-bottom: 3em;
    color:white;
}

footer>div{
    text-align: center;
    font-size:0.75em;
    margin-top:5em;
}
