html {
  background-color:white;
}

h1 {
	color:black;
	text-align: center;
	font-size: 3em;
	vertical-align: bottom;
  font-family: 'Rock Salt', courier;
}

h2 {
  color:black;
  text-align: center;
  font-size: 1.5em;
  vertical-align: middle;
}

h4 {
  font-size: .75em;
  text-align: left;
  font-weight: bold;
  font-style: italic;
  color:black;
}

p{
   color: white;
   text-align: center;
   vertical-align: middle;
   font-style:oblique;
   font-size: 1em;
   font-family: Raleway;

}
.box_title {
    width: 20em;
    height: auto;
    border: 3px solid Black;
    margin-right: auto;
    margin-left: auto;
    background-color:#7575A3;
    font-family: 'Rock Salt', courier;
}

href {
  color:white;
}

.box_subtitle {
    width: 25em;
    height: auto;
    border: 2px solid Black;
    margin-right: auto;
    margin-left: auto;
    background-color:#7575A3;
    font-family: 'Poiret One', courier;
}

.box_date {
    width: 8em;
    height: auto;
    border: 2px solid Black;
    margin-right: auto;
    background-color:#7575A3;
    font-family: 'Poiret One', courier;
}

.box {
    width: 80em;
    height: auto;
    border: 2px solid Black;
    margin-right: auto;
    margin-left: auto;
    background-color:#7575A3;
}