html {
    background-color:white;
}

header {
    color:black;
	text-align: center;
	font-size: 2em;
    font-family: 'Rock Salt', courier;
    width: 30em;
    height: auto;
    border: 3px solid Black;
    margin-right: auto;
    margin-left: auto;
    background-color:#7575A3;
    font-family: 'Rock Salt', courier;
}

li {
    display:inline;
    margin:1em;
    font-size:2em;
    margin-bottom:5em;
    margin-top:5em;
    margin-right: 20px;
    margin-left:20px;
    text-align: center;
}

ul {
    width: auto;
    height: 3em;
    border: 2px solid Black;
    margin-right: auto;
    margin-left: auto;
    background-color:#7575A3;
    font-family: 'Rock Salt', courier;
    text-align: center;
    color:white;
}

img {
    max-width: 60%;
    max-height: 60%;
    padding-right: 5em;
    padding-left: 5em;
    padding-top: 3em;
    margin-bottom: 3em;

}

td {
    padding-right: 0em;
    padding-left: 5em;
    font-size:1em;
    margin-top:3em;
    margin-bottom: 3em;
}

href {
    color: white;
}

footer>div{
    text-align: center;
    font-size:0.75em;
    margin-top:5em;
}
